@import "tailwindcss";
@import "@fontsource-variable/sora/wght.css";

@theme {
  --color-primary: #2f3436;
  --color-secondary: #84c0bf;
  --color-third: #ffffff;
  --color-accent: #e07a5f;
  --shadow-header: 0px 0px 11px 4px #343d41;
  --shadow-footer: 0px 0px 11px 4px #343d41;
}

* {
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  background-color: var(--color-primary);
  font-family: "Sora Variable", sans-serif;
  min-height: 100dvh;
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0.5em 0.1em;
}
